html, body, #map {
  height: 100%; }
body {
  margin:0;
  padding:0;
}
#container{
  height: 100%;
}
#map {
  opacity: 1;
}

#seekbarvalue {
  float: left;
}
#footersection {
  position: fixed;
  bottom: 1%;
  right: 20px;
  padding: 5px;
}


#aboutbar {
  background: white;
  opacity: .75;
  padding: 5px;
  position: fixed;
  left: 5%;
  top: 20px;
  width: 10%;
  min-width: 300px;
  border-color:white; 
}

#timebar {
  opacity: .9;
  padding: 5px;
  position: fixed;
  left: 5%;
  width: 10%;
  clear: both;
  top: 28%;
  min-width: 250px;
}

.extrainformation {
  position: fixed;
  top: 20px;
  right: 5%;
  width: 9%;
  opacity: .8;
  padding: 5px;
  min-width: 120px;

}

.controls {
  position: fixed;
  top: 23%; 
  display: table;
  left: 5%;
  width: 30%; /*Optional*/
  table-layout: fixed; /*Optional*/
  border-spacing: 10px; /*Optional*/
  font-family: "Open Sans";
  text-transform: uppercase;
  font-size: 80%;
  text-align: center;
  cursor: pointer;
  max-width: 250px;

}
#controlbar.content {
  display: block;
  padding: 4px;
  left: 50%; 
  margin-right: -50%;
  position: absolute;
        top: 50%;
        left: 50%;
  transform: translate(-50%, -50%);
  min-width: 40px; 
}
.text, #timevalue, .stats, #message  {
  text-align: left;
  color: #000;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  padding: 2px 2px 2px 2px;  /* top right bottom left */
}

#message {
  font-size:1rem;
}

#timevalue {
  text-transform: uppercase ;
  font-size: 1.3rem;
  color: #000;
}

.white {
  color: #fff !important;
}


.largetext {
  text-align: center;
  color: #000;
  opacity: 1;
  font-family: 'Open Sans', sans-serif;
  font-size: 85%;
  padding: 2px 2px 2px 2px;  /* top right bottom left */
  word-wrap: break-word;
}
.stats, {
  text-align: left;
  color: #BDB9B6;
  font-family: 'Open Sans', sans-serif;
  font-size: 75%;
}


.abouttext {
  text-align: left;
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;

}

#timenumber{
  font-size: 65%;
}
.modaltext {
  text-align:center;
  font-family: "Open Sans", sans-serif;
}

.btn  {
  display: table-cell;
  width: 1%;
  height: 75%;
  font-family: 'Open Sans', sans-serif;
  color: #000;
  background-color: #cdcdcd;
  min-width: 30px;
}
.btn:hover, .btn:active {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
.btn.active {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
.play {
    width: 75%;
    height: 75%;
     margin-left:1rem;
    float:left;
    cursor: pointer;
    
}
.pause {
    width: 75%;
    height: 75%;
   margin-left:1rem;
  float:left;
  cursor: pointer;
}

.reset {
    width: 75%;
    height: 75%;
    margin-left:1rem;
    float:left;
    cursor: pointer;
}


.space{
  clear:both;
  padding-top:1%;
}
#slider {
  margin-top: 10px;
  margin-left:10px;
  margin-bottom:10px;
  width:90%;
  background: white;
  clear:both;
}
#seekTo, #update {
  width:15%;
  float:left;
  margin:2%;
}
#update{
  width:40%;
}

.keytext {
  color: #fff;
  font-family:'Open Sans', sans-serif;;
  font-size: 75%;
  margin-left:10%;
  margin-right:10%;
  text-transform: uppercase;
  text-align: center;
}

#flatmate1key {
  width: 75%;
  height: 75%;
  background: #0096FF;
  margin-left:1rem;
  float:left;
  margin-bottom:1rem;
  min-width:130px;

}
#flatmate2key {
  width: 75%;
  height: 75%;;
  background: #FF5000;
  margin-left:1rem;
  margin-bottom:1rem;
  clear:both;
  float:left;
  min-width:130px;
}

#flatmate3key {
  width: 75%;
  height: 75%;
  background: #FF0064;
  margin-left:1rem;
  margin-bottom:1rem;
  clear:both;
  float:left;
   min-width:130px;
}

#flatmate4key {
  width: 75%;
  height: 75%;
  background:#590B90;
  margin-left:1rem;
  margin-bottom:1rem;
  clear:both;
  float:left;
   min-width:130px;
}

.icon {
  width: 30%;
  text-align: center;
}


.menubutton {
  text-transform: uppercase;
  text-indent:0;
/*  background-color: #cdcdcd;
*/  display:inline-block;
  color:#000;
  font-family: 'Open Sans', sans-serif;;
  font-size:12px;
  font-style:normal;
  line-height:37px;
  min-width: 55px;
  text-decoration:none;
  text-align:center;
  float:left;
  margin: 3px;

}
.menubutton:hover, .menubutton:active {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;}

 .reveal-modal {
  background: #fff !important;
  /*background-color: #999 !important;*/
  border-color: #16191a !important;
  color:  #555 ;
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter !important;
  font-size:85%;

 } 
  .modaltext {
    text-align: left;
  }

#myModal a {
    text-decoration: none;
    color:#2c2c9a;
   }

#myModal a:hover {
    text-decoration: none;
    color:#3cb0fd;
   }

.helptext {
  opacity: .9;
  padding: 5px;
  position: fixed;
  left: 5%;
  width: 10%;
  clear: both;
  bottom: 1.4rem;
  min-width: 250px;
  color: #eec82a;
  z-index:120;
  text-decoration: none;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: 'Open Sans';
  letter-spacing: .2rem;
  cursor: pointer;

}

.range-slider-handle {
  background: #000 !important;
}


.navbar {
  position: fixed;
  bottom: 0;
  right: 0;
  display: block;
  width: 100%;
  height: 6.5rem;
  z-index: 99;
  float: left;
}

.navbar-item {
  position: relative;
  float:right;
  margin-bottom: 0;
  display: inline;
  list-style: none;
  text-transform: uppercase;
}

.navbar-list {
  list-style: none;
  margin-bottom: 0;
  text-decoration: none;
}


.navbar-link {
  text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: .2rem;
    margin-right: 35px;
    text-decoration: none;
    line-height: 6.5rem;
    color: #222;
    margin-left: 2rem;
}

.navbar-link.active {
    color: #33C3F0; }

/*.leaflet-popup-content-wrapper, .leaflet-popup-tip {
  opacity: .6;
}
*/